[submodule "lib/STM32f302x8-HAL"]
	path = lib/STM32f302x8-HAL
	url = https://github.com/syarusinsky/STM32f302x8-HAL.git
[submodule "lib/SAL"]
	path = lib/SAL
	url = https://github.com/syarusinsky/SAL
[submodule "lib/SIGL"]
	path = lib/SIGL
	url = https://github.com/syarusinsky/SIGL.git
[submodule "lib/StorageMediaInterfaces"]
	path = lib/StorageMediaInterfaces
	url = https://github.com/syarusinsky/StorageMediaInterfaces.git
