[submodule "lib/SAL"]
	path = lib/SAL
	url = https://github.com/syarusinsky/SAL
[submodule "lib/SIGL"]
	path = lib/SIGL
	url = https://github.com/syarusinsky/SIGL.git
[submodule "lib/DevLib"]
	path = lib/DevLib
	url = https://github.com/syarusinsky/DevLib.git
